<div
  class="w-full p-2 lg:px-[100px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 py-[30px]"
>
  <div class="sm:my-2 md:my-0">
    <h3 class="font-bold">Contact Us</h3>
    <div class="w-full">
      <small
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo non
        beatae vitae voluptatibus sit assumenda.</small
      >

      <ul class="text-sm">
        <li><i class="pi pi-globe mr-3"></i>Fake Street, Nairobi Streets</li>
        <li><i class="pi pi-envelope mr-3"></i>tryMail&#64;mail.com</li>
        <li><i class="pi pi-phone mr-3"></i>+254 000 000 21</li>
        <li><i class="pi pi-clock mr-3"></i>Mon-Sat 10:00pm - 7:00pm</li>
      </ul>
    </div>
  </div>

  <div>
    <h3 class="font-bold">Information</h3>
    <div class="w-full">
      <ul>
        <li>About Us</li>
        <li>Delivery Information</li>
        <li>Privacy Policy</li>
        <li>Brands</li>
        <li>Contact Us</li>
        <li>Returns</li>
        <li>Site Map</li>
      </ul>
    </div>
  </div>

  <div>
    <h3 class="font-bold">My Account</h3>
    <div class="w-full">
      <ul>
        <li>Store Location</li>
        <li>Order history</li>
        <li>Wish List</li>
        <li>Newsletter</li>
        <li>Specials</li>
        <li>Gift Cards</li>
        <li>Affiliate</li>
      </ul>
    </div>
  </div>

  <div>
    <h3 class="font-bold">Newsletter</h3>
    <small
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque
      adipisci repudiandae quia!</small
    >
    <div class="w-full">
      <div class="flex items-center justify-center gap-1">
        <input type="text" class="border border-gray-200 p-2" placeholder="Email address..."/>
        <button class="px-[20px] py-[6px] bg-[#cc3333] text-white">Subscribe</button>
      </div>
    </div>
    <div>
      <small>Follow us on social networks</small>
      <div class="w-full flex items-center justify-center gap-2 text-white">
        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#3c5a99]">
            <i class="pi pi-facebook"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#00a2eb]">
            <i class="pi pi-twitter"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#e52e2e]">
            <i class="pi pi-youtube"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#815dc7]">
            <i class="pi pi-instagram"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#ffc338]">
            <i class="pi pi-rss"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="text-gray-300 my-2">
