<div  class="w-full lg:px-[100px] sub-text grid grid-cols-1 lg:grid-cols-5 pt-[60px] pb-[20px]">
  <div class="p-2">
    <h1 class="main-text mb-[25px] text-[30px]">Grabbit</h1>
    <p class="sub-text text-[14px]">Grabbit is the biggest market of products. Get your daily needs from our marketplace</p>
  </div>

  <div class="hidden lg:flex flex-col sm:my-2 md:my-0 p-2">
    <h3 class="main-text pb-[10px]">Contact Us</h3>
    <hr class="sub-color mb-[20px]">
    <div class="w-full">
      <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo non
        beatae vitae voluptatibus sit assumenda.</small>

      <ul class="text-sm">
        <li><i class="pi pi-globe mr-3"></i>Fake Street, Nairobi Streets</li>
        <li><i class="pi pi-envelope mr-3"></i>tryMail&#64;mail.com</li>
        <li><i class="pi pi-phone mr-3"></i>+254 000 000 21</li>
        <li><i class="pi pi-clock mr-3"></i>Mon-Sat 10:00pm - 7:00pm</li>
      </ul>
    </div>
  </div>

  <div class="hidden lg:flex flex-col p-2">
    <h3 class="main-text mb-[10px]">Information</h3>
    <hr class="sub-color mb-[20px]">
    <div class="w-full">
      <ul>
        <li>About Us</li>
        <li>Delivery Information</li>
        <li>Privacy Policy</li>
        <li>Brands</li>
        <li>Contact Us</li>
        <li>Returns</li>
        <li>Site Map</li>
      </ul>
    </div>
  </div>

  <div class="hidden lg:flex flex-col p-2">
    <h3 class="main-text pb-[10px]">My Account</h3>
    <hr class="sub-color mb-[20px]">
    <div class="w-full">
      <ul>
        <li>Store Location</li>
        <li>Order history</li>
        <li>Wish List</li>
        <li>Newsletter</li>
        <li>Specials</li>
        <li>Gift Cards</li>
        <li>Affiliate</li>
      </ul>
    </div>
  </div>

  <div class="hidden lg:flex flex-col p-2">
    <h3 class="main-text pb-[10px]">Newsletter</h3>
    <hr class="sub-color mb-[20px]">
    <small
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque
      adipisci repudiandae quia!</small
    >
    <div class="w-full">
      <div class="flex items-center justify-center gap-1">
        <input type="text" class="border border-gray-200 p-2" placeholder="Email address..."/>
        <button class="px-[20px] py-[6px] bg-[#cc3333] text-white">Subscribe</button>
      </div>
    </div>
    <div>
      <small>Follow us on social networks</small>
      <div class="w-full flex items-center justify-center gap-2 text-white">
        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#3c5a99]">
            <i class="pi pi-facebook"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#00a2eb]">
            <i class="pi pi-twitter"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#e52e2e]">
            <i class="pi pi-youtube"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#815dc7]">
            <i class="pi pi-instagram"></i>
        </div>

        <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#ffc338]">
            <i class="pi pi-rss"></i>
        </div>
      </div>
    </div>
  </div>
  

  <!-- smaller screened size footer -->
  <div class="lg:hidden w-full flex justify-center">
    <p-accordion class="w-full" value="0">
      <p-accordion-panel value="0">
          <p-accordion-header class="header">My Account</p-accordion-header>
          <p-accordion-content>
            <div class="w-full">
              <ul>
                <li>Store Location</li>
                <li>Order history</li>
                <li>Wish List</li>
                <li>Newsletter</li>
                <li>Specials</li>
                <li>Gift Cards</li>
                <li>Affiliate</li>
              </ul>
            </div>
          </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="">
          <p-accordion-header>Contact Us</p-accordion-header>
          <p-accordion-content>
            <div class="w-full">
                <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo non
                  beatae vitae voluptatibus sit assumenda.</small>

                <ul class="text-sm">
                  <li><i class="pi pi-globe mr-3"></i>Fake Street, Nairobi Streets</li>
                  <li><i class="pi pi-envelope mr-3"></i>tryMail&#64;mail.com</li>
                  <li><i class="pi pi-phone mr-3"></i>+254 000 000 21</li>
                  <li><i class="pi pi-clock mr-3"></i>Mon-Sat 10:00pm - 7:00pm</li>
                </ul>
            </div>
          </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="2">
          <p-accordion-header>Information</p-accordion-header>
          <p-accordion-content>
            <div class="w-full">
              <ul>
                <li>About Us</li>
                <li>Delivery Information</li>
                <li>Privacy Policy</li>
                <li>Brands</li>
                <li>Contact Us</li>
                <li>Returns</li>
                <li>Site Map</li>
              </ul>
            </div>
          </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel value="3">
          <p-accordion-header>Newsletter</p-accordion-header>
          <p-accordion-content>
              <small
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eaque
                adipisci repudiandae quia!</small
              >
              <div class="w-full my-[15px]">
                <div class="flex items-center w-full justify-center h-[42px] gap-1">
                  <input type="text" class="border w-full h-full border-gray-200 p-2" placeholder="Email address..."/>
                  <button class="px-[20px] py-[6px] bg-[#cc3333] h-full text-white">Subscribe</button>
                </div>
              </div>
              <div>
                <small>Follow us on social networks</small>
                <div class="w-full flex items-center my-[10px] justify-start gap-2 text-white">
                    <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#3c5a99]">
                        <i class="pi pi-facebook"></i>
                    </div>

                    <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#00a2eb]">
                        <i class="pi pi-twitter"></i>
                    </div>

                    <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#e52e2e]">
                        <i class="pi pi-youtube"></i>
                    </div>

                    <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#815dc7]">
                        <i class="pi pi-instagram"></i>
                    </div>

                    <div class="rounded-full flex items-center justify-center h-[34px] w-[34px] bg-[#ffc338]">
                        <i class="pi pi-rss"></i>
                    </div>
                  </div>
                </div>
          </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</div>
<hr class="text-gray-300 my-2">
