<div class="w-full grid grid-cols-1 md:grid-cols-2 p-2 lg:px-[100px]">
    <div class="border border-gray-100 max-w-[441px] h-[441px]">
        <img src="{{ product.imageUrl }}" alt="product_image" class="w-full object-fit">
    </div>
    <div class="p-2">
        <h2 class="font-bold tex-2xl lg:text-[36px] md:text-[30px] mb-[22px]">{{ product.name }}</h2>
        <p class="max-w-[70%]">{{ product.description }}</p>
        <hr class="text-gray-200 my-2">
        <div class="w-full flex items-center">
            <div>
                <small class="text-sm text-gray-300">Availability <span class="text-green-300">In Stock</span></small>
            </div>
            <div>
                <small class="text-gray-300">Brand: </small>
            </div>
        </div>
        <div>
            <h2 class="text-2xl font-bold my-[18px] lg:text-[28px]">ksh3150</h2>
        </div>
        <div>
            <small>QUANTITY</small>
            <div>
                <button (click)="addToCart(product)" class="bg-[#cc3333] px-[32px] py-[13px]">Add to cart</button>
            </div>
        </div>
    </div>
    
    <!-- tabs -->
     <div class="my-2">
        <div>
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0" class="focus:outline-none focus:ring-0">Header I</p-tab>
                    <p-tab value="1">Header II</p-tab>
                    <p-tab value="2">Header III</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.
                        </p>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p class="m-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                            dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                            modi.
                        </p>
                    </p-tabpanel>
                    <p-tabpanel value="2">
                        <p class="m-0">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus.
                        </p>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
     </div>
</div>