<div class="w-full">
    <div class="hidden md:flex w-full h-[100px] flex items-center justify-between">
        <h1 class="text-2xl font-bold">Outdoor</h1>
         <div class="flex items-center">
            <input #input (keyup.enter)="search(input.value)" class="border p-2" placeholder="Search" />
            <button (click)="search(input.value)">Search</button>
        </div>
        <div>
            <p>customer service</p>
            <h2 class="font-bold text-xl">+254 000 000 21</h2>
        </div>
    </div>
    <div class="w-full flex items-center justify-between bg-[#cc3333] h-[54px] lg:px-[100px] text-white">
        <div>
            shop by category
        </div>
        <div class="gap-2">
            <!-- <p-menubar class="gap-2 custom-menu" [model]="items"></p-menubar> -->
        </div>
        <div class="flex items-center gap-5">
            <!-- <i class="pi pi-cart-plus text-xl cursor-pointer"></i> -->
             <app-cart-status></app-cart-status>
            <i class="pi pi-user text-xl cursor-pointer"></i>
        </div>
    </div>
</div>