<div class="w-full py-[30px] min-h-[80vh] lg:px-[100px]">
    <div>
        <h3 class="main-text text-xl">Featured Products</h3>
    </div>
    <div class="w-full gap-2 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 pt-[30px]">
        @for (product of products; track $index) {
            <app-product-card [product]="product"></app-product-card>    
        } 
    </div>

    <div *ngIf="products?.length == 0" class="alert bg-red-200 w-full p-2" role="alert">
        No products found
    </div>
</div>
<div class="card flex justify-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="thePageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="[10, 20, 30]" />
</div>