<div class="flex items-center gap-5">
    <div class="relative">
        <i (click)="openCart()" class="pi pi-cart-plus text-xl cursor-pointer"></i>
        <div class="absolute rounded-full bg-white h-[13px] text-gray-600 text-sm flex items-center w-[13px]">{{ totalQuantity }}</div>
    </div>
    <!-- <i class="pi pi-user text-xl cursor-pointer"></i> -->
    <p-drawer header="Cart" [(visible)]="visible" position="right">
      @for (item of cartItems; track $index) {
        <div class="w-full border flex my-2 border-gray-200 h-[150px]">
            <div class="h-[60%]">
                <img src="{{ item.imageUrl }}" alt="">
            </div>
            <div class="p-2">
                <h5 class="font-bold">{{ item.name }}</h5>
                <p class="font-bold">{{ item.unitPrice }}</p>
                
                <div class="w-full flex items-center justify-between">
                  <div (click)="incrementQuantity(item)" class="w-[30px] h-[30px] cursor-pointer flex items-center justify-center rounded-sm bg-[#cc3333]">
                    <i class="pi pi-plus"></i>
                  </div>

                  <div class="w-[35px] flex items-center justify-center">
                      <span class="font-bold">{{ item.quantity }}</span>
                  </div>

                  <div (click)="decrementQuantity(item)" class="w-[30px] h-[30px] cursor-pointer flex items-center justify-center rounded-sm bg-[#cc3333]">
                    <i class="pi pi-minus"></i>
                  </div>
                </div>
                <button (click)="removeItem(item)" class="bg-[#cc3333]">Remove</button>
            </div>
        </div>
      }   
      
      <div *ngIf="cartItems.length < 1" class="w-full alert alert-warn">
          Your Cart is Empty
      </div>

      <hr>

      <div class="w-full p-2">
        <h2 class="text-xl font-bold">{{ totalPrice | currency: 'Ksh' }} </h2>
      </div>
    </p-drawer>
</div>